@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-header{
    background: url(./img/background.jpg);
    position: relative;
}
body{
    font-family: 'Mulish', sans-serif;
}
.bg-header{
    padding: 160px 0; 
}
.bi{
    font-size: 2rem;
}
.bi-star{
    font-size: 1rem;
}
.user1 img{
    width: 100px;
}
.bi-skype:hover, .bi-twitter:hover, .bi-github:hover{
    color: aqua;
    transition: 0.5s ease;
}

